@media screen and (max-width: 1800px) {
     .main-header .squares-animated {
          width: 400px;
          height: 400px;
     }

     .section-padding-x {
          padding-right: 100px;
          padding-left: 100px;
     }
}

@media screen and (max-width: 1300px) {
     html {
          font-size: 13px;
     }

     .section-padding-x {
          padding-right: 50px;
          padding-left: 50px;
     }

     .section-padding-y {
          padding-top: 80px;
          padding-bottom: 80px;
     }

     .main-header .squares-animated {
          width: 330px;
          height: 330px;
     }

     .main-header {
          padding-top: 145px;
     }
}

@media screen and (max-width: 1100px) {
     .section-padding-x {
          padding-right: 20px;
          padding-left: 20px;
     }
}

@media screen and (max-width: 1000px) {
     #navigation-menu {
          padding-right: 40px;
          padding-left: 40px;
     }

     .main-header {
          flex-wrap: wrap;
     }

     .main-header .author-description {
          width: 80%;
     }
     
     .main-header .author-img {
          width: 100%;
          margin-bottom: 40px;
     }

     .main-header .author-img {
          margin-top: 80px;
     }

     .mobile-width {
          width: 80%;
          margin: auto;
     }

     .list-item {
          padding-right: 0;
          padding-left: 0;
     }

     .circle {
          right: -50%;
          top: -60%;
     }

     .list-item {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
     }

     .list-item-title, .list-item-desc {
          width: 100%;
          padding-right: 0;
          padding-left: 0;
     }

     .hidden-menu {
          flex-wrap: wrap;
     }

     .hidden-menu-box-left, .hidden-menu-box-right {
          width: 100%;
     }

     .hidden-menu-box-left {
          margin-bottom: 20px;
     }

     .hidden-menu-box-right {
          margin-top: 0;
     }
}

@media screen and (max-width: 740px) {
     .circle {
          right: -100%;
     }

     .hidden-menu-box-left {
          font-size: 4.75rem;
     }
}

@media screen and (max-width: 700px) {
     .list-item {
          display: flex;
          flex-wrap: wrap;
          padding-right: 0;
          padding-left: 0;
     }

     .box-50 {
          width: 100%;
     }

     .main-header .author-description {
          width: 100%;
          padding-right: 0;
     }
}

@media screen and (max-width: 600px) {
     .circle {
          left: 200px;
     }

     .hidden-menu-box-left {
          font-size: 3rem;
     }
}

@media screen and (max-width: 530px) {
     #navigation-menu {
          padding-right: 20px;
          padding-left: 20px;
     }

     .main-header .squares-animated {
          width: 250px;
          height: 250px;
     }

     h1 {
          font-size: 4.75rem;
     }
     
     h2 {
          font-size: 3rem;
     }
     
     h3 {
          font-size: 2.25rem;
     }
     
     h4 {
          font-size: 1.5rem;
     }
     
     h5 {
          font-size: 1.125rem;
     }
     
     h6 {
          font-size: 1rem;
     }

     .btn-light, .btn-dark {
          font-size: 1rem;
          padding: 15px 72px 15px 12px;
     }
     
     .btn-light svg, .btn-dark svg {
          width: 15px;
          height: 15px;
     }

     #navigation-menu .btn-hamburger {
          width: 50px;
          height: 50px;
     }

     #navigation-menu .btn-hamburger::after, #navigation-menu .btn-hamburger::before {
          width: 25px;
          height: 2px;
     }

     .mobile-width {
          width: 90%;
     }
}

@media screen and (max-width: 400px) {
     html {
          font-size: 12px;
     }

     .mobile-width {
          width: 100%;
     }
}
